<h2>Edit Comment</h2>

<%= render "form.html", Map.put(assigns, :action, article_comment_path(@conn, :update, @article, @comment)) %>

<span><%= link "Back", to: article_comment_path(@conn, :index, @article) %></span>
