<h1><%= @article.title %></h1>
<%= text_to_html @article.body %>
<%= @article.tags %>
<span><%= link "Edit", to: article_path(@conn, :edit, @article) %></span>
<span><%= link "Back", to: article_path(@conn, :index) %></span>


<%= render ElixirBlogWeb.CommentView, "index.html", conn: @conn, article: @article, comments: ElixirBlog.Comments.list_comments(@article) %>
<%= render ElixirBlogWeb.CommentView, "new.html", conn: @conn, article: @article, changeset: comment_changeset(@article) %>
